<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<html>
<body>
    <div class="users">
        <div class="user_info">
            <div>
                <img class="user_pic" src="https://github.com/thenaserov/frontend_practice/blob/main/layout/amin.jfif" alt="Italian Trulli">
            </div>
            <div class="name">
                <p calss="user_name">Naser Rezaei</pcalss="user_name">
            </div>
        </div>
        <div class="user_info">
            <div>
                <img class="user_pic" src="https://github.com/thenaserov/frontend_practice/blob/main/layout/amin.jfif" alt="Italian Trulli">
            </div>
            <div class="name">
                <p calss="user_name">Amin Bakhshoodeh</p>
            </divclass="name">
        </div>
    </div>
</body>
</html>
